@import url("../css/fonts.css");

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

header {
    height: 95px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(9px);
}

header a img {
    height: 49.98px;
    margin-top: 27px;
}

.text_logo{
    font-size: 13px;
    line-height: 18px;
    padding-top: 34px;
    font-family: 'Galos Regular';
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav_btn:hover {
    border: 1px solid #9B59FE;
    color: #9B59FE;
}


.nav_btn {
    height: 38px;
    padding: 10px 17px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    margin-top: 30px;
    border-radius: 48px;
    color: #2C2C34;
    font-family: 'Galos Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px; 
    background-color: transparent;
    cursor: pointer;
}

#last_nav_btn {
    padding: 10px 17px;
    height: 38px;
    background: #2C2C34;
    border-radius: 48px;
    font-family: 'Galos Regular';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

#last_nav_btn:hover {
    border: 1px solid rgba(0, 0, 0, 0.19);
    color: #FFFFFF;
}

.home {
    z-index: -1;
    height: 787px;
}

.home h1 {
    height: 216px;
    margin-top: 172px;
    font-family: 'Golos DemiBold';
    font-style: normal;
    font-size: 60px;
    line-height: 72px;
    color: #2C2C34;
}

.home_case {
    display: flex;
    justify-content: space-between;
}

.home_round_btn {

    width: 139.26px;
    height: 140px;
    margin-top: 34px;
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
}

.home_round_link {
    display: inline-block;
    font-family: 'Galos Medium';
    font-size: 21px;
    color: #2C2C34;
    margin-top: 91px;
    margin-left: 29.74px;
    vertical-align: top;
}

.home_btn {
    margin-top: 120px;
    padding: 9px;
    height: 36px;
    border: 1px solid #000000;
    border-radius: 30px;
    font-family: 'Galos Medium';
    line-height: 18px;
    font-size: 18px;
    background-color: transparent;
    color: #2C2C34;
    cursor: pointer;
}

.home_btn:hover {
    background: #9B59FE;
    border: 1px solid #9B59FE;
    color: #FFFFFF;
}

.row-section-2{
    display: inline-block;
}

.ractangale_1 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: -356px;
    top: -59.24px;
    z-index: -1;
    background: rgba(242, 201, 76, 0.28);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.ractangale_2 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: 379px;
    top: -261.24px;
    z-index: -1;
    background: rgba(207, 212, 227, 0.67);
    border-radius: 45px;
    transform: rotate(-14.62deg);

}

.ractangale_3 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: -356px;
    top: 356.76px;
    z-index: -1;
    background: rgba(86, 204, 242, 0.21);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.ractangale_4 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: 379px;
    top: 154.76px;
    z-index: -1;
    background: rgba(217, 217, 217, 0.32);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.ractangale_5 {
        position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: 1114px;
    top: -47.24px;
    z-index: -1;
    background: rgba(47, 128, 237, 0.27);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.ractangale_6 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: 1849px;
    top: -249.24px;
    z-index: -1;
    background: rgba(111, 207, 151, 0.22);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.ractangale_7 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: -356px;
    top: 772.76px;
    z-index: -1;
    background: rgba(235, 87, 87, 0.23);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.ractangale_8 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: 379px;
    top: 570.76px;
    z-index: -1;
    background: rgba(47, 128, 237, 0.27);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.ractangale_9 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: 1114px;
    top: 368.76px;
    z-index: -1;
    background: rgba(111, 207, 151, 0.22);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.ractangale_10 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: 1849px;
    top: 166.76px;
    z-index: -1;
    background: rgba(207, 212, 227, 0.67);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.ractangale_11 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: 379px;
    top: 986.76px;
    z-index: -1;
    background: rgba(242, 153, 74, 0.42);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.ractangale_12 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: 1114px;
    top: 784.76px;
    z-index: -1;
    background: rgba(242, 201, 76, 0.28);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.ractangale_13 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: 1849px;
    top: 582.76px;
    z-index: -1;
    background: rgba(217, 217, 217, 0.26);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.ractangale_14 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: 1114px;
    top: -463.24px;
    background: rgba(235, 87, 87, 0.23);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.ractangale_15 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: 1849px;
    top: 582.76px;
    background: rgba(217, 217, 217, 0.26);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.row-section-2 div {
    animation: animate1 15s linear infinite;
    animation-delay: 0s;
    z-index: -300;
    rotate: -14.62deg;
    animation-direction: alternate;
} 

.row-section-1 div {
    animation: animate2 15s linear infinite;
    animation-delay: 0s;
    z-index: -300;
    rotate: -14.62deg;
    animation-direction: alternate;
} 

.row-section-3 div {
    animation: animate2 15s linear infinite;
    animation-delay: 0s;
    z-index: -300;
    rotate: -14.62deg;
    animation-direction: alternate;
} 

.row-section-4 div {
    animation: animate1 15s linear infinite;
    animation-delay: 0s;
    z-index: -300;
    rotate: -14.62deg;
    animation-direction: alternate;
} 

@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

 @keyframes animate2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.dignities {
height: 386px;
background: #2C2C34;
}

.card_1 span {
    position: absolute;
    left: 523px;
    top: 994px;
    width: 374.16px;
    height: 108px;
    font-family: 'Golos';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    color: #FFFFFF;
}

.card_2 span {
    position: absolute;
    left: 1187px;
    top: 994px;

    width: 374.16px;
    height: 108px;
    font-family: 'Golos';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    color: #FFFFFF;
}

.card_3 span {
    position: absolute;
    left: 1982px;
    top: 994px;
    width: 374.16px;
    height: 108px;
    font-family: 'Golos';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    color: #FFFFFF;
}

.card_4 span {
    position: absolute;
    left: 2794px;
    top: 994px;
    width: 374.16px;
    height: 108px;
    font-family: 'Golos';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    color: #FFFFFF;
}

.card_5 span {
    position: absolute;
    left: 3768px;
    top: 994px;
    width: 374.16px;
    height: 108px;
    font-family: 'Golos';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    color: #FFFFFF;
}

.star_1 {
    position: absolute;
    left: 367px;
    top: 1001px;
}

.star_2 {
    position: absolute;
    left: 1051px;
    top: 995px;
}

.star_3 {
    position: absolute;
    left: 1842px;
    top: 997px;
}

.star_4 {
    position: absolute;
    left: 2638px;
    top: 997px;
}

.star_5 {
    position: absolute;
    left: 3636px;
    top: 997px;
}

.card img {
    width: 74px;
    height: 124px;
}

.dignities row {
    animation: animate1 15s linear infinite;
    animation-delay: 0s;
    z-index: -300;
    rotate: -14.62deg;
    animation-direction: alternate;
} 

@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}