@import url("../css/fonts.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    height: 100%;
}

header {
    height: 95px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(9px);
}

header a img {
    height: 49.98px;
    margin-top: 27px;
}

.text_logo{
    font-size: 13px;
    line-height: 18px;
    padding-top: 34px;
    font-family: 'Galos Regular';
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav_btn:hover {
    border: 1px solid #9B59FE;
    color: #9B59FE;
}


.nav_btn {
    height: 38px;
    padding: 10px 17px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    margin-top: 30px;
    border-radius: 48px;
    color: #2C2C34;
    font-family: 'Galos Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px; 
    background-color: transparent;
    cursor: pointer;
}

#last_nav_btn {
    padding: 10px 17px;
    height: 38px;
    background: #2C2C34;
    border-radius: 48px;
    font-family: 'Galos Regular';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

#last_nav_btn:hover {
    border: 1px solid rgba(0, 0, 0, 0.19);
    color: #FFFFFF;
}

.home {
    z-index: -1;
    height: 100vh;
}

.home h1 {
    height: 216px;
    margin-top: 172px;
    font-family: 'Golos DemiBold';
    font-style: normal;
    font-size: 60px;
    line-height: 72px;
    color: #2C2C34;
}

.home_case {
    display: flex;
    justify-content: space-between;
}

.home_round_btn {
    width: 139.26px;
    height: 140px;
    margin-top: 34px;
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
}

.home_round_link {
    display: inline-block;
    font-family: 'Galos Medium';
    font-size: 21px;
    color: #2C2C34;
    margin-top: 91px;
    margin-left: 29.74px;
    vertical-align: top;
}

.home_btn {
    margin-top: 120px;
    padding: 9px;
    height: 36px;
    border: 1px solid #000000;
    border-radius: 30px;
    font-family: 'Galos Medium';
    line-height: 18px;
    font-size: 18px;
    background-color: transparent;
    color: #2C2C34;
    cursor: pointer;
    transition: 0.45s;
    margin-left: 18px;
}

.home_btn:hover {
    background: #9B59FE;
    border: 1px solid #9B59FE;
    color: #FFFFFF;
}

.row-section-2{
    display: inline-block;
}

.ractangale_1 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: -356px;
    top: -59.24px;
    z-index: -1;
    background: rgba(242, 201, 76, 0.28);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.ractangale_2 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: 379px;
    top: -261.24px;
    z-index: -1;
    background: rgba(207, 212, 227, 0.67);
    border-radius: 45px;
    transform: rotate(-14.62deg);

}

.ractangale_3 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: -356px;
    top: 356.76px;
    z-index: -1;
    background: rgba(86, 204, 242, 0.21);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.ractangale_4 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: 379px;
    top: 154.76px;
    z-index: -1;
    background: rgba(217, 217, 217, 0.32);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.ractangale_5 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: 1114px;
    top: -47.24px;
    z-index: -1;
    background: rgba(47, 128, 237, 0.27);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.ractangale_6 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: 1849px;
    top: -249.24px;
    z-index: -1;
    background: rgba(111, 207, 151, 0.22);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.ractangale_7 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: -356px;
    top: 772.76px;
    z-index: -1;
    background: rgba(235, 87, 87, 0.23);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.ractangale_8 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: 379px;
    top: 570.76px;
    z-index: -1;
    background: rgba(47, 128, 237, 0.27);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.ractangale_9 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: 1114px;
    top: 368.76px;
    z-index: -1;
    background: rgba(111, 207, 151, 0.22);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.ractangale_10 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: 1849px;
    top: 166.76px;
    z-index: -1;
    background: rgba(207, 212, 227, 0.67);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.ractangale_11 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: 379px;
    top: 986.76px;
    z-index: -1;
    background: rgba(242, 153, 74, 0.42);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.ractangale_12 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: 1114px;
    top: 784.76px;
    z-index: -1;
    background: rgba(242, 201, 76, 0.28);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.ractangale_13 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: 1849px;
    top: 582.76px;
    z-index: -1;
    background: rgba(217, 217, 217, 0.26);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.ractangale_14 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: 1114px;
    top: -463.24px;
    background: rgba(235, 87, 87, 0.23);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.ractangale_15 {
    position: absolute;
    width: 716.23px;
    height: 354.08px;
    left: 1849px;
    top: 582.76px;
    background: rgba(217, 217, 217, 0.26);
    border-radius: 45px;
    transform: rotate(-14.62deg);
}

.row-section-2 div {
    animation: animate1 15s linear infinite;
    animation-delay: 0s;
    z-index: -300;
    rotate: -14.62deg;
    animation-direction: alternate;
} 

.row-section-1 div {
    animation: animate2 15s linear infinite;
    animation-delay: 0s;
    z-index: -300;
    rotate: -14.62deg;
    animation-direction: alternate;
} 

.row-section-3 div {
    animation: animate2 15s linear infinite;
    animation-delay: 0s;
    z-index: -300;
    rotate: -14.62deg;
    animation-direction: alternate;
} 

.row-section-4 div {
    animation: animate1 15s linear infinite;
    animation-delay: 0s;
    z-index: -300;
    rotate: -14.62deg;
    animation-direction: alternate;
} 

@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

 @keyframes animate2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.dignities {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.dignities_wrapper {
    display: flex;
    min-height: 100vh;
    min-width: 101vw;
    background: #2C2C34;
    width: 100vw;
}

.dignities_item {
    display: flex;
    width: 100%;
    margin: auto;
    justify-self: center;
    justify-content: center;
}

.dignities_item img{
    width: 183.66px;
    height: 307.75px;
}

.dignities_item span {
    width: 630px;
    height: 232px;
    font-family: 'Golos DemiBold';
    margin-left: 131.34px;
    opacity: 0.9;
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 116px;
    color: #FFFFFF;
}

.customers {
    height: 1603px;
    z-index: 100;
    background: #FFFFFF;
    padding-top: 80px;
}

.customers_title span{
font-family: 'Golos DemiBold';
font-style: normal;
font-weight: 600;
font-size: 60px;
line-height: 72px;
}

.customers_list {
    padding-top: 79.44px;
}

.customers_list hr {
    height: 1px;
    color: rgba(0, 0, 0, 0.35);
}

.customers_num {
    font-family: 'Golos DemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 170.5%;
    color: #FFC535;
    
    
}


.list {
    display: flex;
    padding-top: 31px;
    padding-bottom: 31px;
}

.list_1 {
    display: flex;
    padding-bottom: 31px;
}

.list_1 img{
    width: 77px;
    height: 72.12px;
}

.customers_name {
height: 49px;
font-family: 'Golos DemiBold';
font-style: normal;
font-weight: 600;
font-size: 29px;
line-height: 170.5%;
/* or 49px */
color: #2C2C34;
}

.customers_descr {
    height: 81px;
    font-family: 'Galos Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170.5%;
    /* or 27px */
    color: #2C2C34;
}

.img {
    width: 77px;
    height: 72.12px;
}

.mission_descr {
    display: flex;
}

.mission {
    margin-top: 34px;
}

.mission_icon {
    margin-left: 296px;
}

.mission_title {
    font-family: 'Golos DemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 69px;
    line-height: 121%;
    /* or 83px */
    color: #2C2C34;
}

.dash {
    font-family: 'Golos DemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 69px;
    line-height: 121%;
    /* or 83px */
    color: #2C2C34;
    padding-right: 17px;
}

.descr {
    font-family: 'Golos DemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 41px;
    line-height: 121%;
    color: #2C2C34;
    margin-top: 20px;
}

.pr_mission_title {
font-family: 'Golos DemiBold';
font-style: normal;
font-weight: 600;
font-size: 27px;
line-height: 170.5%;
color: #2C2C34;
}

.mission .first {
    margin-top: 37px;
}

.mission .second {
    margin-top: 39px;
}

.mission .third {
    margin-top: 25px;
}

.pr_mission_descr {
    font-family: 'Golos Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170.5%;
    cursor: pointer;
    color: #2C2C34;
}

.mission button {
    padding: 24px 50px;
    background: #2C2C34;
    margin-top: 39px;
    border-radius: 48px;
    cursor: pointer;
    font-family: 'Golos Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.achievements {
    margin-top: 64px;
}

.phone {
    margin-left: 550px;
}

.wind {
    display: flex;
    z-index: -10;
    position: absolute;
    left: 64px;
    top: 2989px;
    animation: animate3 30s linear infinite;
    animation-delay: 0s;

}

@keyframes animate3 {
    0% {
        transform: translateX(-40%);
    }
    100% {
        transform: translateX(0%);
    }
}

.round img {
    width: 406px;
    height: 406px;
    margin-top: 16px;
    margin-left: 48px;
}

.small_round {
    position: relative;
    width: 38.11px;
    height: 38.11px;
    background: #2C2C34;
    margin-left: 144px;
    top: -58px;
    border-radius: 100%;
    font-family: 'Galos Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20.9323px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.round span {
    position: relative;
    width: 180px;
    height: 32px;
    font-family: 'Galos Medium';
    font-style: normal;
    font-weight: 500;
    top: -58px;
    font-size: 26.5143px;
    line-height: 32px;
    text-align: center;
    color: #2C2C34;
    margin-left: 5px;
}

.step_title {
    position: relative;
    width: 472px;
    height: 252px;
    left: 406px;
    top: -420px;
    font-family: 'Golos DemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 84px;
    color: #FFFFFF;
}

.step_descr {
    position: relative;
    width: 496px;
    height: 62px;
    left: 406px;
    top: -400px;
    font-family: 'Golos Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 170.5%;
    color: #FFFFFF;
}

.uno{
    margin-left: 1150px;
}

.uno_1 {
    padding-right: 1000px;
}


.steps {
    position: relative;
    display: flex;
    width: 200%;
    left: 300px;
    overflow-y: auto;
    overflow-x: hidden;  
    scroll-snap-type: y mandatory;
}

.step_6 {
    background: #FFC535;
}

.step_btn {
    top: -490px;
}

.round .span_6 {
    position: relative;
    width: 180px;
    height: 32px;
    font-family: 'Galos Medium';
    font-style: normal;
    font-weight: 500;
    top: -58px;
    left: 139px;
    font-size: 26.5143px;
    line-height: 32px;
    text-align: center;
    color: #2C2C34;
    margin-left: 5px;
}

.small_round_6 {
    margin-left: 110px;
}

.small_round_3 {
    margin-left: 120px;
}

.small_round_4 {
    margin-left: 104px;
}

.cases {
    background: #2C2C34;
    padding-bottom: 80px;
}

.cases span {
    width: 224px;
    font-family: 'Golos DemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 84px;
    color: #FFFFFF;
}

.e-comerce {
    height: 432px;
    width: 100%;
    background: linear-gradient(82.39deg, #9B59FE 18.72%, #9B59FE 73.49%, #B384FB 100%);
    border-radius: 20px;
    padding-top: 20px;
}

.first-row-case {
    padding-top: 64px;
}

.second-row {
    display: flex;
    padding-top: 20px;
}

.investing {
    height: 571px;
    width: 100%;
    background: linear-gradient(53.52deg, #FD4154 13.59%, #FD4154 62.09%, #FF5768 94.33%);
border-radius: 20px;
}

.deliviry {
    height: 571px;
    width: 100%;
    margin-left: 20px;
    background: linear-gradient(55.9deg, #80E220 18.65%, #80E220 68.39%, #B9F281 90.97%);
    border-radius: 20px;
}

.moment{
height: 180px;
width: 100%;
background: linear-gradient(256.52deg, #8394E9 12.6%, #4F61B8 52.63%);
border-radius: 20px;

}

.matur {
    height: 180px;
    width: 100%;
    margin-left: 20px;
    background: linear-gradient(250.46deg, #D8C3D2 19.14%, #BB96B0 52.97%);
    border-radius: 20px;
}

.all-projects {
    height: 180px;
    width: 100%;
    cursor: pointer;
    margin-left: 20px;
    background: rgba(242, 242, 242, 0.12);
    border-radius: 20px;
    font-family: 'Galos Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 26.5143px;
    border: none;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}

.all-projects img{
    vertical-align: middle;
}

.info img {
    margin-top: 105px;
    margin-left: 80px;
    display: flex;
}



.e-comerce_title {
    position: relative;
    width: 482px;
    height: 42px;
    top:-45px;
    left: 150px;
    font-family: 'Golos DemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    color: #FFFFFF;
}

.e-comerce_descr {
    width: 522px;
    height: 81px;
    margin-left: 78px;
    font-family: 'Galos Regular';
    font-style: normal;
    font-size: 16px;
    line-height: 170.5%;
    color: #FFFFFF;
}

.e-comerce_btn {
    padding: 24px 50px;
    margin-left: 78px;
    margin-top: 31px;
    width: 189px;
    height: 66px;
    background: #2C2C34;
    border: none;
    font-family: 'Galos Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    border-radius: 48px;
    cursor: pointer;
}

.info_picture {
    position: relative;
    bottom: 471px;
    left: 350px;
}

.second_e-comerce_phone {
    position: relative;
    bottom: 934px;
    left: 175px;
}

.invest {
    margin-top: 37px;
    margin-left: 80px;
}

.iinvest_title {
    position: relative;
    bottom: 45px;
    left: 150px;
    width: 213px;
    height: 42px;
    font-family: 'Golos DemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    color: #FFFFFF;
}

.invest_descr {
    width: 483px;
    height: 81px;
    margin-left: 78px;
    margin-top: -30px;
    font-family: 'Galos Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170.5%;
    color: #FFFFFF;
}

.invest_picture {
    margin-top: 24px;

}

.investing {
    position: relative;
    display: block;
}

.delivery_title {
    width: 100%;
    color: #2A2A32;
}

.delivery_descr {
    color: #2A2A32;
}

.moment_img {
    margin-top: 48px;
    margin-left: 56px;
}

.info_3 {
    position: relative;
    top: -75px;
    left: 171px;
}

.moment_title {
    font-family: 'Golos DemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 134%;
    color: #FFFFFF;
}

.moment_descr {
    font-family: 'Galos Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.reviews {
    background: #2C2C34;

    width: 100%;
}

.reviews span {
    width: 271px;
    height: 84px;
    font-family: 'Golos DemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 84px;
    color: #FFFFFF;
}
.scroll_btn {
    width: 57.62px;
    vertical-align: middle;
    margin-top: 43px;
    cursor: pointer;
    margin-right: 18px;
    height: 41px;
    border: 1.10811px solid #FFFFFF;
    border-radius: 6px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background-color: transparent;
}


.reviews_title {
    display: flex;
    justify-content: space-between;
}

.arrow {
    cursor: pointer;
    height: 120px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: transform .1s;
    width: 80px;
}

.scroll_btn:hover {
    border: 1.10811px solid #FFFFFF;
    background-color: #FFFFFF;  
}

.scroll_btn img:hover {
    background: url("/img/chevron-left.png");
}

.reviews_list img{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-right: 58px;
    width: 267.75px;
    height: 90px;
}

.view_reviews_list {
    width: 300%;
    right: 300px;
    height: 236px;
    padding-top: 52px;
    background: #2C2C34;
}

.reviews_list {
    position: relative;
    left: 270px;
}

.reviews_list_raiting {
    position: relative;
    display: flex;
    justify-content: center;
    top: 48px;
    left: 775px;
}

.reviews_list_raiting img {
    width: 27px;
    height: 24px;
}

.reviews_list_raiting span {
    margin-left: 17px;
    width: 163px;
    height: 46px;
    font-family: 'Galos Medium';
    font-style: normal;
    font-size: 28px;
    line-height: 46px;
    color: #FFFFFF;
}

#avg_rait {
    width: 127px;
    height: 19px;
    font-family: 'Golos Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.51);
}

.request{
        padding-top: 170px;
    }

.request_img{
    position: absolute;    
}

.request_form{
    color: #2C2C34;
    font-family: 'Galos Medium';
    font-style: normal;
}

.request_form .title{
    padding-top: 50px;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
}

.request_form .description{
    padding-top: 28px;
    font-weight: 400;
    font-size: 18px;
    line-height: 170.5%;
}

.request_form .set_request{
    padding-top: 44.33px;
    font-weight: 500;
    font-size: 27px;
    line-height: 32px;
    margin-bottom: 57px;
}

.form_name{
    font-weight: 500;
    font-size: 27px;
    text-align: top;
    padding-left: 23px;
    padding-bottom: 20.67px;
    border: none;
    border-bottom: 1px solid grey;
    min-width: 487px;
    margin-bottom: 73px;   
    font-family: 'Golos DemiBold';



}

.form_name:focus{
    outline: none;
    border: none;
    border-bottom: 2px solid #9B59FE;
    font-family: 'Golos DemiBold';

    
}

.form_number{
    font-weight: 500;
    font-size: 27px;
    text-align: top;
    padding-left: 23px;
    padding-bottom: 20.67px;  
    border: none;
    border-bottom: 1px solid grey;
    min-width: 487px;   
    font-family: 'Golos DemiBold';

}

.form_number:focus{
    outline: none;
    border: none;
    border-bottom: 2px solid #9B59FE;
}


.request_link{
    padding-top: 60px;
}

.request_btn{
    border: solid 0px transparent;
    border-radius: 100%;
}

.step_1_t {
    width: 520px;
    height: 520px;
    border-radius: 100%;
    background: #F2F2F2;
}

.round_t img {
    margin-left: 48px;
    margin-top: 16px;
}

.round_t span {
    font-family: 'Golos Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 26.5143px;
    line-height: 32px;
    color: #2C2C34;
    vertical-align: middle;
}

.small_round_t {
    width: 38.11px;
    height: 38.11px;
    border: none;
    border-radius: 100%;
    margin-left: 144px;
    background: #2C2C34;
    font-family: 'Golos Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20.9323px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
.step_title_t {
    width: 472px;
    height: 252px;
    font-family: 'Golos';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 84px;
    color: #FFFFFF;
}

.steps_1_t {
    display: flex;

    
}

.tetx_t {
    margin-left: 137px;
    margin-top: 93px;
}

.step_descr_t {
    width: 496px;
    height: 62px;
    margin-top: 27px;
    font-family: 'Galos Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 170.5%;
    color: #FFFFFF;
}

.case { 
    margin-top: 953px;
    height: 100vh;
    width: 100vw;
    background: #2C2C34;
}

.flexibale {
    display: flex;
    flex-wrap: nowrap;
}

.wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.step_1 {
    display: flex;
    min-height: 100vh;
    min-width: 101vw;
    background: #2C2C34;
    width: 100vw;

}
.item {
    display: flex;
    width: 100%;
    margin: auto;
    justify-self: center;
    justify-content: center;

}

.second_step_1 {
    display: block;
    margin-top: 93px;
    margin-left: 137px;
}

.round {
    width: 520px;
    height: 520px;
    border-radius: 100%;
    background: #F2F2F2;
}

.round_text {
    display: flex;
}

.round_text span {
    width: 180px;
    height: 32px;
    font-family: 'Golos';
    font-style: normal;
    font-weight: 500;
    font-size: 26.5143px;
    line-height: 32px;
    text-align: center;
    color: #2C2C34;
    margin-left: 13.08px;
    margin-top: 3.31px;
}

.small_round {
    width: 38.11px;
    height: 38.11px;
    background: #2C2C34;
    font-family: 'Golos';
    border: none;
    font-style: normal;
    border-radius: 100%;
    font-weight: 500;
    font-size: 20.9323px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.round img{
    margin-top: 16px;
    margin-left: 48px;
}

.round_title {
    width: 472px;
    height: 252px;
    font-family: 'Golos';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 84px;
    color: #FFFFFF;
}

.round_descr {
    margin-top: 27px;
    width: 496px;
    height: 62px;
    font-family: 'Golos';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 170.5%;
    color: #FFFFFF;
}

.step_3 {
    background: #0c0cdd;
}